
body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #app h1 {
    font-family:"Rowdies", sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: rgb(209, 195, 221, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
  }

  btn {
    background: rgb(221, 104, 221);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
  
    border-radius: 6px;
    padding: 20px;
    text-shadow: 1px 1px 2px #333;
    text-transform: uppercase;
    border: 4px solid transparent;
  }
  
  .btn:hover {
    border: 4px solid rgba(255, 119, 255, 0.7);
    background: white;
    color: #222;
  }
  

